
/* Your CSS Code here. */
.modal-header{
	background-color:#808080;
	height:500px;
	width:600px;
}
#open-modal{
	background-color:blue;
	color:white;
	height:40px;
}
#newton-modal{
	background-color:white;
	height:190px;
	width:380px;
	
}
#new-modal-1{
	margin-top:90px;
	padding-left:50px;
}
.modal-dailog{
	padding-left:60px;
	border-redion:0px;
	font-size:14px;
}
.modal-footer{
	padding-left:300px;
}
.btn-secondary{
	background-color:#6A757D;
	color:white;
	height:30px;
	width:60px;
}